.contact_page_input_section {
	background-image: url('../img/background/contact_input_bg-01.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 60px 10px;
	text-align: center;
}

.contact_page_input_section h1 {
	color: white;
	font-family: 'Montserrat-Bold';
	font-size: 40px;
}

.contact_page_input_section p {
	color: white;
	font-size: 22px;
	color: #CCCCCC;
}

.contact_page_input_section input {
	width: 100%;
	margin: 5px 0px;
	height: 35px;
	border-radius: 5px;
	border:none;
	background-color: #272F34;
	color:white;
	padding: 10px;
}

.contact_page_input_section textarea {
	margin: 5px 0px;
	width: 100%;
	border-radius: 5px;
	border:none;
	background-color: #272F34;
	color:white;
	padding: 10px;
}

.contact_page_input_section textarea:active {
	outline: none !important;
}
.contact_page_input_section textarea:focus {
	outline: none !important;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

.contact_page_input_section button {
	color: white;
    font-family: 'Montserrat-Bold';
    background-color: #CC0241;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    margin-top: 20px;
}