/*--------------------------*/

/*		Home Page Swiss     */

/*--------------------------*/

.cover_home_page {
	background-image: url('../img/background/home_backgorund_cover-01.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 760px;
	padding-top: 200px;
	color: white;
	text-align: center;
  background-attachment: fixed;
}
.cover_home_page h1{
	font-size: 67px;
}
.cover_home_page span {
	color: #CC0241;
	font-family: 'Montserrat-Bold';
}
.cover_home_page p {
	font-size: 20px;
	color: #CCCCCC;
}
.cover_home_page button {
	width: 150px;
	height: 35px;
	margin-top: 20px;
}



/*
///////////////////////////////////////////////////
First Section Home PAge Middle
///////////////////////////////////////////////////
*/

.first_section_logo_text {
  padding: 50px 10px;
  text-align: center;
}

.first_section_logo_text img {
  width: 300px; 
  padding-bottom: 30px;
}
.first_section_logo_text p {
  color: #55565A;
  padding-top: 5px;
  font-size: 16px;
}

.first_section_logo_text button {  
  width: 150px;
  height: 35px;
  margin-top: 20px;
}


/*
///////////////////////////////////////////////////
Second Section Homepage
///////////////////////////////////////////////////
*/

.inerpages_section_home {
  background-color: #272F34;
}

.inerpages_section_home img {
  width: 100%;
}

.iner_text_panel_home {
  padding: 7% 20px;
  color: white;
  text-align: center;
}
.iner_text_panel_home h1 {
  color: #CC0241;
  font-family: 'Montserrat-Bold';
}
.iner_text_panel_home hr {
  display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid white;
    /*margin: 10px 13px;*/
    padding: 0;
    width: 20%;
}
.iner_text_panel_home p {
  color: #FFFFFF;
  font-size: 16px;
}
.iner_text_panel_home button {
  width: 150px;
  height: 35px;
  margin-top: 20px;
}



/*
///////////////////////////////////////////////////
Testimonial Section
///////////////////////////////////////////////////
*/

.testimonails_home_section {
  padding: 90px 0px;
}

.testimonails_home_section h3 {
  font-family: 'Montserrat-Bold';
  color: white;
  font-size: 30px; 
}
.testimonails_home_section span {
  color: white; 
  font-family: 'Montserrat-UltraLight';
}
.testimonails_home_section hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid white;
    margin: 1em 0;
    padding: 0;
    width: 10%;
}

/*
***    Testimonial Panel Small ***
*/
.testimonails_home_section {
  background-color: #1E2326;

}
.testimonial_small_panel {
  background-color: #272f34;
  color: white;
  margin: 20px 0px;
}

.testimonial_small_panel img {
  width: 100%;
}

.small_panel_text {
  background-color: #272f34;
}
.testimonial_small_panel h4 {
  margin-bottom: 0px;
  font-family: "Montserrat-Bold";
}

.testimonial_small_panel span {
  font-family: "Montserrat-UltraLight";
  font-size: 9px;
}

.testimonial_small_panel p {
  font-family: "Montserrat-UltraLight";
  font-size: 9px;

}

.testimonial_small_panel button {
  background-color: #cc0241;
  color: white; 
  border: none;
  font-family: 'Montserrat-UltraLight';
  height: 20px;
  width: 70px;
  border-radius: 3px;
  margin-bottom: 5px;
} 

.nd-row-testimonials {
  /*padding: 30px 0px;*/
}




/*Partners Section Logos*/


.partners_homepage {
  padding: 60px 10px;
  text-align: center;
}

.partners_homepage h1 {
  color: #CC0241;
  font-family: 'Montserrat-Bold';
  font-size: 40px; 
}

.partners_homepage p {
  font-size: 19px;
  color: #272F34;
  letter-spacing: 2px;
}
.partners_homepage .no_space {
  font-size: 19px;
  color: #272F34;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.partners_homepage hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #272F34;
    /*margin: 10px 13px;*/
    padding: 0px 0px 10px;
    width: 20%;

}

.partners_homepage img {
  width: 90%;
  padding: 20px;
}
/*
///////////////////////////////////////////////////
Join Us Section Image And text 
///////////////////////////////////////////////////
*/

.join_us_section img {
  width: 100%;
}

.join_us_section_text {
  padding: 65px;
}

.join_us_section_text h3 {
  font-family: 'Montserrat-Bold';
  color: #cc0241;
  font-size: 30px;
}

.join_us_section_text hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #cc0241;
    margin: 1em 0;
    padding: 0;
    width: 20%;
}

.join_us_section_text p {
  font-family: 'Montserrat-UltraLight';
  color: #55565a;
  font-size: 16px;
}

.first_btn_join {
  background-color: #cc0241;
  color: white;
  border: none;
  font-family: 'Montserrat-UltraLight';
  height: 30px;
  width: 150px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.second_btn_join {
  background-color: #272f34;
  color: white;
  border: none;
  font-family: 'Montserrat-UltraLight';
  height: 30px;
  width: 150px;
  border-radius: 3px;
  margin-bottom: 5px;
}

/*
///////////////////////////////////////////////////
Send Message Section Red 
///////////////////////////////////////////////////
*/

.new_letter_section {
  background-color: #cc0241;
  padding: 20px;
}

.new_letter_section h1 {
  font-family: 'Montserrat-Bold';
  font-size: 25px;
  color: white;
  padding-top: 5px;
  margin-top: 12px;
}

.input_section_home {
  text-align: right;
  padding-top: 15px;

}

.input_section_home input {
  width: 50%;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  border: solid 1px white;
  height: 35px;
  padding: 0px 10px;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
.input_section_home button {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  border-radius: 3px;
  width: 20%;
  height: 35px;
}
